<style>
.list-pers{
    border:0;
    border-bottom: 0.02rem solid grey;
}
</style>
<div>
    <h5 class="pl-1">
        {{titlevideo}}
    </h5>
    {{#maplistlinks}}
         <ul class="list-group">
            <a class="" onclick="go('{{urlvideo}}?start={{time}}&?rel=0&autoplay=1')"><li class="list-group-item list-group-item-action list-pers">
                {{tdesc}}
            </li> 
            </a>          
        </ul>
    {{/maplistlinks}}
</div>
<script>
function go(loc) {
			document.getElementById('{{titleid}}').src = loc;
		}
</script>